.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
.product-show{
  text-align: center;
  img{
    max-width: 50%;
    margin: auto;
  }
}
.product-index{
  text-align: center;
  img{
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
}